@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?6bde421c8d0ad14250ef090d092c7a44") format("truetype"),
url("./flaticon.woff?6bde421c8d0ad14250ef090d092c7a44") format("woff"),
url("./flaticon.woff2?6bde421c8d0ad14250ef090d092c7a44") format("woff2"),
url("./flaticon.eot?6bde421c8d0ad14250ef090d092c7a44#iefix") format("embedded-opentype"),
url("./flaticon.svg?6bde421c8d0ad14250ef090d092c7a44#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-seo:before {
    content: "\f101";
}
.flaticon-bicycle:before {
    content: "\f102";
}
.flaticon-skipping-rope:before {
    content: "\f103";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f104";
}
.flaticon-man-boxing:before {
    content: "\f105";
}
.flaticon-web-programming:before {
    content: "\f106";
}
.flaticon-web:before {
    content: "\f107";
}
.flaticon-android-logo:before {
    content: "\f108";
}
